body {
  background: blanchedalmond;
  }



.container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 100vw;
  height: 100%vh;
  border: 1px gray;
}

.a {
  border: 1px solid gray;
  background: lightblue;
  width: 99%;
  height: 20vh;

}

.b {
  border: 1px solid gray;
  background: brown;
  width: 99%;
  height: 59vh;
}

.c {
  border: 1px solid gray;
  background: yellowgreen;
  width: 99vw;
  height: 20vh;
}

@media(min-width: 600px) {

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid gray;
    width: 100vw;
    height: 100%vh;
      }

  .a {
    min-width: 99vw;
    border: 1px solid gray;
    background: darkblue;
    height: 35vh;
  
  }
  
  .b {
    border: 1px solid gray;
    background: black;
    width: 80vw;
    height: 60vh;
  }
  
  .c {
    border: 1px solid gray;
    background: green;
    width: 15vw;
    height: 60vh;
  }
}